main {
    background-color: gray;
}
.button-1 {
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
    background: yellow;
    height: 20px;
    position: relative;
}
.button-1:after{
   width: 0;
   position: absolute;
   background: red;
   left: 100%;
    pointer: cursor;
    height: 20px;
    content: '';
    transition: 0.3s;
}
.button-1:hover:after {
    left:70%;
    width: 100%;
}